body {
    font-family: Arial, sans-serif;
    margin: 0;
}

[hidden] {
    display: none !important;
}

body.dragging {
    cursor: grabbing !important;
}

.status-on {
    color: forestgreen;
}

.status-off {
    color: tomato;
}

.unknown {
    font-weight: 600;
    color: navy;
}


.menu-bar {
    width: 100vw;
    height: 5vh;

    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    background-color: #EDEDED;
    border-bottom: 2px solid darkgray;
    box-shadow: 0px 2px 4px -2px black;
}

.menu-bar>div {
    display: inline-block;
    margin: 7px;
}

ul.inline>li,
ol.inline>li {
    list-style: none;
    display: inline;
    margin: 0;
}

.btn {
    text-decoration: none;
    padding: 4px;
    background: rgb(226, 215, 118);
    color: #555;
}

.btn:hover {
    background: rgb(196, 184, 77);
    cursor: pointer;
}

span#actionbar {
    font-style: italic;
    color: rgb(110, 106, 106);
    font-size: .9em;
    margin-left: 1vw;
}

div.cover {
    top: 0;
    left: 0;
    position: fixed;
    width: 99.9vw;
    height: 99.9vh;
    z-index: 900;
    background-color: rgba(102, 102, 102, 0.6);
}

div.popup {
    position: fixed;
    top: 10%;
    left: 10%;
    z-index: 999;

    padding: 10px;
    background-color: #CCC;
    box-shadow: 0px 3px 5px -2px black;
    border: 2px solid gray;
    border-radius: 3px;
}

.centre {
    text-align: center;
}

ul.invis-list,
ol.invis-list {
    list-style: none;
}

table[border] {
    border-collapse: collapse;
}

/* Prevent User Selection */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



div#main {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

div#nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 10vw;
    height: 90vh;
    overflow-y: auto;
    padding: 3px;
    background: silver;
    border: 2px solid black;
    border-radius: 4px;
}

div#nav>span {
    text-align: center;
    font-weight: bold;
}

div#nav>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: space-around;
    border-bottom: 1px solid gray;
    margin: 5px 0 0 2%;
    margin-bottom: 6px;
}

div#nav>div>div {
    margin: 4px;
    padding: 3px;
    text-align: center;
    font-size: 0.9em;
}

div#nav img {
    width: 30px;
    height: auto;
}

body:not(.frozen):not(.dragging) div#nav>div>div:hover {
    cursor: grab;
}

.striped {
    background:
        /* On "top" */
        repeating-linear-gradient(45deg,
            transparent,
            transparent 10px,
            #ccc 10px,
            #ccc 20px),
        /* on "bottom" */
        linear-gradient(to bottom,
            #eee,
            #999) !important;
}

div#statusbar {
    position: fixed;
    top: 97.5vh;
    left: 0;
    height: 2.5vh;
    width: 100vw;

    background-color: #EDEDED;
    border-top: 2px solid darkgray;
}

div#statusbar>div {
    display: inline;
    padding-left: 5px;
    padding-right: 6vw;
    border-right: 1px solid darkgray;
    color: black;
    font-size: .85em;
    font-family: monospace;
}

textarea,
input {
    outline: none !important;
}